<?xml version="1.0" encoding="UTF-8"?>

<suite name="Suite">
<test thread-count="5" name="NewTest">
<classes>
<class name="NewTest"/>
</classes>
</test> <!-- Test -->
<test thread-count="5" name="NewTest1">
<classes>
<class name="NewTest1"/>
</classes>
</test> <!-- Test -->
</suite> <!-- Suite -->